@model IEnumerable<Categories>
<div class="container my-3">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1>All Products</h1>
            <a class="btn btn-success" href="/User/Category/Create">Create New</a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">#</th>
                            <th scope="col">name</th>



                        </tr>
                    </thead>
                    <tbody>
                       @*  @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name </td>

                                <td>
                                    <a class="btn btn-warning btn-sm" href="#">Edit</a>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                        } *@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@* onclick="confirmDelete(@item.Id) *@
